/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ================================================== */
body {
    display: flex;
}

.section-left {
    min-width: 35vw;
    min-height: 100vh;
    border: 1px solid black;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 15%;

    position: relative;
    top: 30vh;

    background-color: rgba(0, 0, 0, .5);
    color: white;
}

.logo-text {
    font-family: 'Norse-Bold';
    font-size: 72px;
}

img {
    min-width: 4rem;
    max-width: 4.5rem;
    height: auto;
}

.background-image {
    width: 100%;
    height: 100%;

    background-image: url(./imgs/halie-west-25xggax4bSA-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer {
    position: relative;
    bottom: -500px;
    color: white;
    display: flex;
    justify-content: center;
}

.footer a {
    color: white;
}

.section-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 0%;
}

form {
    padding: 10px 20px;
}

.description {
    width: 80%;
    height: auto;
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2rem;

    margin-bottom: 2rem;
}

legend {
    padding-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: column;
}

.form-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-shadow: 0px 4px 10px black;
}

button {
    background-color: #596D48;
    color: white;
    width: 15rem;
    height: 2rem;
    border-radius: 5px;
    border: none;
}

@font-face {
    font-family: 'Norse-Bold';
    src: url(./fonts/Norse-Bold.otf);
}